body {
    background-color: rgb(104, 126, 226);
    color: rgb(241, 241, 241);
    font-family: "Rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(247, 244, 244);
    color: rgb(5, 5, 5);
    font-family: "white", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}